<section
id="about"
class="relative z-10 w-full py-52 md:py-64 flex flex-wrap px-8 md:px-0"
>
<h2
  data-title
  class="md:ml-[15%] text-9xl lg:text-[15rem] font-humane font-bold leading-[0.8]"
>
  ABOUT <br />
  <span class="text-primary">ME</span>
</h2>
<p
  id="a-text"
  class="font-neueMetanaNext w-96 ml-auto mr-[7%] text-sm md:text-base"
>
  <%= about %>
</p>
</section>