<section
id="contact"
class="mt-64 relative z-10 w-screen overflow-x-hidden h-screen tracking-wider flex justify-center items-center px-8 md:px-0"
>
<div
  id="parallax"
  class="absolute text-center flex items-center justify-center flex-col"
>
  <h2
    data-title
    class="text-9xl font-humane font-bold uppercase lg:text-[15rem]"
  >
    <span class="text-primary">Get</span> In Touch
  </h2>
  <p class="font-neueMetanaNext w-full md:w-96">
    Have a Query? Feel Free to Contact Me for Questions, Collaborations,
    or Inquiries ,or just to say hi
  </p>
  <a
    data-hover="visit"
    href="mailto:yassine.goumni@gmail.com"
    class="flex items-center text-lg cursor-pointer text-primary font-neueMetanaNext mt-16"
  >
    Say Hi
    <img src="/icons/arrow-tr.svg" class="ml-1 mb-1" alt="arrow icon" />
  </a>
</div>
<img
  class="absolute top-0 left-0 -z-10 opacity-10 h-full"
  src="/contactmetext.png"
  alt="contact me text"
/>
<div
  class="md:flex z-10 items-center list-none tracking-widest text-white font-neueMetanaNext space-x-14 absolute bottom-2 right-5"
>
  <a
    class="flex items-center"
    target="_blank"
    href="https://github.com/Blackarrow299"
    data-hover="visit"
  >
    Github
    <img src="/icons/github.svg" class="ml-1 mb-1" alt="github icon" />
  </a>
  <a
    class="flex items-center"
    target="_blank"
    href="https://www.linkedin.com/in/yassine-goumni-902080224/"
    data-hover="visit"
  >
    Linkedin
    <img
      src="/icons/arrow-tr.svg"
      class="ml-1 mb-1"
      alt="arrow top right"
    />
  </a>
</div>
</section>