@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@200;300;400;500;600;700&display=swap'); */

@font-face {
  font-family: 'Humane';
  src: url('./fonts/humane/Humane-Thin.woff2') format('woff2'),
       url('./fonts/humane/Humane-ExtraLight.woff2') format('woff2'),
       url('./fonts/humane/Humane-Light.woff2') format('woff2'),
       url('./fonts/humane/Humane-Regular.woff2') format('woff2'),
       url('./fonts/humane/Humane-Medium.woff2') format('woff2'),
       url('./fonts/humane/Humane-SemiBold.woff2') format('woff2'),
       url('./fonts/humane/Humane-Bold.woff2') format('woff2');
  font-weight: 100 200 300 400 500 600 700;
  font-style: normal;
}

@font-face {
  font-family: 'Flaviotte';
  src: url('./fonts/flaviotte/Flaviotte.woff2');
  font-style: normal;
}

@font-face {
  font-family: 'NeueMetanaNext';
  src: url('./fonts/NeueMetanaNext/NeueMetanaNext-SemiBold.otf');
  font-style: normal;
}

@layer components {
  ::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: #C2C2C2;
  }

  ::selection {
    color: white;
    background: #C2C2C2;
  }
  /* width and height of the entire scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* width and height of the scrollbar track */
::-webkit-scrollbar-track {
  background: #1C1C1C;
}

/* width, height and color of the scrollbar handle */
::-webkit-scrollbar-thumb {
  background-color: #242424;
  border-radius: 5px;
}

/* on hover, changing the color of scrollbar handle */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

  body {
    font-family: Akshar;
    /* cursor: none; */
    background-color: #1C1C1C;
    color: white;
  }

  html.lenis {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .fog {
    position: absolute;
  }

  .fog:nth-child(1) {
    width: 150%;
    height: 110%;
    bottom: -5%;
    right: 0;
    filter: brightness(0.8);
    -webkit-filter: brightness(0.8);
}

  .fog:nth-child(2) {
    bottom: -10%;
    left: 0;
    z-index: 2;
    width: 75%;
    filter: brightness(0.9) ;
    -webkit-filter: brightness(0.9) ;
}

  .fog:nth-child(3) {
    top: -10px;
    left: 0;
    z-index: 3;
  }

  .fog:nth-child(4) {
    top: -20%;
    right: -20%;
    z-index: 1;
    filter: brightness(0.7)  ;
    -webkit-filter: brightness(0.7);
}

  #scrollDown {
    position: absolute;
    bottom: 1%;
    z-index: 4;
    font-weight: 500;
    font-size: 16px;
    color: #C2C2C2;
    letter-spacing: 10px;
    text-align: center;
  }

  .circlesSvg {
    top: -2%;
    position: absolute;
    z-index: 5;
    width: 440px;
  }

  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

}